@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Heebo&family=Poppins:wght@300&family=Roboto+Condensed&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand
{
    font-size: 1.8rem;
    color: red;
    font-family: 'Dancing Script', cursive;}


.nav-link
{
    color: black;
    font-family: 'Roboto Condensed', sans-serif;
}

.nav-link:hover
{
    color: red;
    transition: 0.3s;
}

.nav-item
{
    color: black;
    font-style: 500;
    padding-left: 35px;


}

.btn0
{
    height: 52px;
    width: 130px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s;
    background-color: #dd5816;
}
.btn0:hover
{
    background: rgb(255, 89, 0);
    transition: all 0.4s;

}

.btn1
{
    margin-left: 12px;
    height: 52px;
    width: 130px;
    outline: none;
    border: none;
    background-color: transparent;
    border: 2px solid rgb(255, 96, 16) ;
    cursor: pointer;
    transition: all 0.4s;
    color: rgb(246, 85, 5);
}


.btn1:hover
{
    background:  rgb(255, 96, 16) ;
    transition: all 0.4s;
    color: white;
    border:none;
    outline:none;

}






.main{
 
    
    background: url(https://t3.ftcdn.net/jpg/02/96/07/04/240_F_296070498_zxCQFWTAdhAZZE58T1N0iW4ey28Xfl3V.jpg) no-repeat;
    background-size: cover;
    min-height:95vh;
    width: 100%;
}



.main h1{
    font-size: 4.5rem;
    font-family: 800;
    color: rgb(0, 0, 0);
}

.main input{
    height:50px;
    width:60%;
    border:none;
    outline:none;
    padding:10px;
}

.btn2
{
    height:50px;
    width:25%;
    background-color: rgb(224, 93, 27);
    color:white;
    border:none;
    outline:none;
    cursor: pointer;
    transition:all 0.4s;
    margin-left: 5px;
}

.btn2:hover{
    background: rgb(255, 89, 0);
    transition: all 0.4s;

}


.red
{
    color:red
}
.ceta h1{
    font-size: 2.2rem;
    color:rgb(7,7,7);
    
}
.ceta{
    background-color: rgb(239, 239, 239);
}

.card :hover
{
    color:red !important;
    cursor :pointer !important;
    transition: all 0.3s !important;

    
}
.card:hover{
    -webkit-box-shadow: -5px 2px 19px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 2px 19px -7px rgba(0,0,0,0.75);
    box-shadow: -5px 2px 19px -7px rgba(0,0,0,0.75);
}


.btn3
{
    height:70px;
    width: 50%;
    border: 1px solid rgb(130, 69, 130);
    background: transparent;
    color:rgb(130, 69, 130);
    border-radius:5px;
    transition: all 0.4s;
}
.btn3:hover{
 background-color: rgb(147, 81, 147);
 color:white;
}
.card img{
    height: 40px;
    width: 40px;
}




.resume
{
    /* background: linear-gradient(rbga(4,11,775,0.719),rbga(4,26,100,0.73)); */
    background: url(https://media.istockphoto.com/id/1316574108/photo/young-multiethnic-male-government-employee-uses-laptop-computer-in-system-control-monitoring.jpg?s=612x612&w=0&k=20&c=_z-fwmFknWttNVtod2oVWje01nIBtO89_0NUflsxIgk=)  no-repeat;
    background-size: cover;
    height: 100vh;
    width:100%;

}

.resume h1{
    font-size: 4.0rem;

}

.job h1{
    font-size:4.5rem ;
    color: rgb(7,7,76);
}

.btn4
{
    height: 60px;
    width: 30%;
    outline: none;
    border:none;
    background-color: rgb(243,73,73);
    color:white;
    transition: all 0.4s;


}


.btn4:hover{
    background-color: rgb(237, 93, 93);
    color:white;
    transition:all 0.4s;
    outline:none;

    border:none;
}

.apply
{
    background:url(img/cool-background.png);
    background-size: cover;
    width: 100%;


}

.apply .card{
    background-color: rgba(0,0,0,0.75);
    color:white;
}

.cir1{
    height:100px;
    width:100px;
    border-radius: 100px;
    background:white;
    border-radius: 50%;
    display: inline;
}


.cir1 img{
    border-radius: 40%;


}


.avatar
{
    height:130px;

}

.perac
{
    font-size: 1.1rem;
    font-weight: 300;
}


.btn5
{
    height: 60px;
    width: 30%;
    outline:none;
    border:none;
    background:rgba(243,73,73);
    cursor: pointer;
    color:white;
    border-radius: 5px;
    transition: all 0.4s;

}

.btn5:hover{
    background:rgb(214,11,11);
    border:none;
    outline:none;
    transition:all 0.4s;

}
.footer{
    background:#121626;
    color:white;
}
 
.footer p
{

    margin: 0;
    color: #6969b6;

}















.link{
  color:#6b6b72;
  transition:all 0.4s;

}
.link:hover{
    color:red;
    padding-left: 10px;
    transition:all 0.4s;
    cursor:pointer;
}


.footer input
{
    height: 45px;
    width:70%;
    padding: 10px 10px;
    border:none;
    outline:none;
    border-radius:5px;



}

.footer button{
    height:45px;
    width:20%;
    border:none;
    outline:none;
    margin-left: 5px;
    border-top:1px solid red;
    background-color: red;
    color:white;
    margin-top:40px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;

}